---
permalink: /date-and-time/
---
{% extends "../../_includes/index.njk" %}
{% block content %}
    <div class="mx-auto">
        <h1 class="text-[32px] font-medium text-custom-text leading-[130%] tracking-normal mb-5">Date and time</h1>

        <div class="flex gap-2 bg-custom-light-bg border-l-[3px] border-brand-blue px-4 py-6 mb-[30px] max-w-[685px]">
            <span class="flex items-center text-brand-blue justify-center w-4 h-4 shrink-0">
                {% include "src/assets/icons/icon-info.svg" %}
            </span>
            <span class="text-base font-normal text-custom-text leading-[21px]">
                To change how date and time are displayed (either UTC or browser offset) throughout the application, visit <a href="/profile-settings/" class="underline text-brand-blue cursor-pointer">Profile Settings</a>
            </span>
        </div>

        <div class="grid grid-cols-2 gap-[128px] mb-14 max-w-[400px]">
            <div>
                <p class="text-sm font-medium leading-[1.5] text-custom-text mb-1">Date</p>
                <p class="text-sm font-normal leading-[1.5] text-custom-text">2025-10-20</p>
            </div>
            <div>
                <p class="text-sm font-medium leading-[1.5] text-custom-text mb-1">24-hour time</p>
                <p class="text-sm font-normal leading-[1.5] text-custom-text">17:01:40 UTC</p>
            </div>
        </div>

        <section>
            <h2 class="text-xl font-medium text-custom-text leading-[130%] mb-6">Configure settings</h2>

            <div class="flex flex-col gap-6 mb-12">
                <label class="flex items-center gap-4 cursor-pointer group w-fit">
                    <div class="relative flex items-center justify-center">
                        <input type="radio" name="time-option" class="peer sr-only" checked="checked"/>
                        <div class="w-5 h-5 border border-custom-border rounded-full peer-checked:border-brand-blue transition-all"></div>
                        <div class="absolute w-2.5 h-2.5 bg-brand-blue rounded-full opacity-0 peer-checked:opacity-100 transition-opacity"></div>
                    </div>
                    <span class="text-base font-normal text-custom-text leading-none">Manual</span>
                </label>

                <div class="grid grid-cols-2 gap-6 pl-9 max-w-[450px]">
                    <div class="flex flex-col gap-2">
                        <span class="text-sm font-medium leading-[1.5] text-custom-text">Date</span>
                        <span class="text-xs font-normal leading-[1.5] text-custom-aside-text">YYYY-MM-DD</span>
                        <div class="relative">
                            <input
                                type="date"
                                placeholder="2025-10-20"
                                class="w-full px-2 py-3 bg-custom-light-bg border border-custom-divider rounded-md text-sm font-normal leading-none
                                 focus:ring-1 focus:ring-brand-blue outline-none placeholder-custom-aside-text text-custom-aside-text"/>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <span class="text-sm font-medium leading-[1.5] text-custom-text">24-hour time (UTC)</span>
                        <span class="text-xs font-normal leading-[1.5] text-custom-aside-text">HH:MM</span>
                        <input
                            type="time"
                            placeholder="17:05"
                            class="w-full px-2 py-3 bg-custom-light-bg border border-custom-divider rounded-md text-sm font-normal leading-none
                                focus:ring-1 focus:ring-brand-blue outline-none placeholder-custom-aside-text text-custom-aside-text"/>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-6 mb-10">
                <label class="flex items-center gap-4 cursor-pointer group w-fit">
                    <div class="relative flex items-center justify-center">
                        <input type="radio" name="time-option" class="peer sr-only"/>
                        <div class="w-5 h-5 border border-custom-border rounded-full peer-checked:border-brand-blue transition-all"></div>
                        <div class="absolute w-2.5 h-2.5 bg-brand-blue rounded-full opacity-0 peer-checked:opacity-100 transition-opacity"></div>
                    </div>
                    <span class="text-base font-normal text-custom-text leading-none">NPT</span>
                </label>

                <div class="grid grid-cols-3 gap-6 pl-9 max-w-[669px]">
                    {% for i in range(1, 4) %}
                        <div class="flex flex-col gap-2">
                            <span class="text-xs font-normal leading-[1.5] text-custom-text">Server {{ i }}</span>
                            <input id="npt-server-{{ i }}"
                                type="text"
                                class="w-full px-5 py-3 bg-custom-aside-bg border border-custom-divider rounded-md text-sm font-normal leading-none text-custom-text
                                    focus:ring-1 focus:ring-brand-blue outline-none"/>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <button id="btn-save-date-time-settings"
                type="button"
                class="px-11 py-3 bg-brand-blue hover:bg-custom-hover-bg text-white text-sm leading-[120%] font-medium rounded-[28px]
                    transition-all active:scale-95">
                Save settings
            </button>
        </section>
    </div>
{% endblock %}