{% extends "../../index.njk" %}
{% block content %}
    <div class="mx-auto">
        <h1 class="text-[32px] font-medium text-[#1D1D1F] leading-[130%] tracking-normal mb-2">Key clear</h1>
        <p class="text-base font-normal text-[#4D4D4D] leading-none mb-9">
            Securely clear sensitive data on the system
        </p>
        <div class="flex gap-2 bg-[#F0F3F8] border-l-[3px] border-[#688CBA] px-4 py-6 mb-7 max-w-[685px]">
            <span class="material-symbols-outlined text-[#688CBA] text-[21px]">info</span>
            <div class="flex flex-col gap-2">
                <span class="text-base font-medium text-[#151515] leading-[21px]">
                    This operation requires physical presence and system reboot
                </span>
                <span class="text-sm font-normal text-[#151515] leading-[21px]">
                    Due to sensitivity of the data that will be cleared, verification through physical presence is required to authorize
                    this operation.
                </span>
            </div>
        </div>
        <div class="flex flex-col gap-7 mb-9">
            <span class="text-sm leading-[125%] font-normal text-[#4D4D4D]">Key clear options</span>
            <label class="flex items-start gap-4 cursor-pointer group">
                <div class="relative flex items-center justify-center">
                    <input type="radio" name="clear-option" class="peer sr-only" checked="checked"/>
                    <div class="w-5 h-5 border border-[#D0D5DD] rounded-full peer-checked:border-[#688CBA] transition-all"></div>
                    <div class="absolute w-2.5 h-2.5 bg-[#688CBA] rounded-full opacity-0 peer-checked:opacity-100 transition-opacity"></div>
                </div>
                <div class="flex flex-col gap-3">
                    <span class="text-base font-medium text-[#151515] leading-none">None</span>
                    <span class="text-sm font-normal text-[#4D4D4D] leading-none">
                        Key clear not requested
                    </span>
                </div>
            </label>
            <label class="flex items-start gap-4 cursor-pointer group">
                <div class="relative flex items-center justify-center">
                    <input type="radio" name="clear-option" class="peer sr-only"/>
                    <div class="w-5 h-5 border border-[#D0D5DD] rounded-full peer-checked:border-[#688CBA] transition-all"></div>
                    <div class="absolute w-2.5 h-2.5 bg-[#688CBA] rounded-full opacity-0 peer-checked:opacity-100 transition-opacity"></div>
                </div>
                <div class="flex flex-col gap-3">
                    <span class="text-base font-medium text-[#151515] leading-none">Clear all</span>
                    <span class="text-sm font-normal text-[#4D4D4D] leading-[145%]">
                        Clear all the sensitive data that is controlled by the platform firmware
                    </span>
                </div>
            </label>
            <label class="flex items-start gap-4 cursor-pointer group">
                <div class="relative flex items-center justify-center">
                    <input type="radio" name="clear-option" class="peer sr-only"/>
                    <div class="w-5 h-5 border border-[#D0D5DD] rounded-full peer-checked:border-[#688CBA] transition-all"></div>
                    <div class="absolute w-2.5 h-2.5 bg-[#688CBA] rounded-full opacity-0 peer-checked:opacity-100 transition-opacity"></div>
                </div>
                <div class="flex flex-col gap-3">
                    <span class="text-base font-medium text-[#151515] leading-none">Clear hypervisor system key</span>
                    <span class="text-sm font-normal text-[#4D4D4D] leading-[145%]">
                        This indicates the hypervisor to clear the system key.
                    </span>
                </div>
            </label>
        </div>
        <button
            type="button"
            class="px-[71px] py-3 bg-[#688CBA] hover:bg-[#5a7aa3] text-white text-sm leading-[120%] font-medium rounded-[28px]
                transition-colors">
            Clear
        </button>
    </div>
{% endblock %}