---
permalink: /firmware/
---
{% extends "../../_includes/index.njk" %}
{% block content %}
    <div class="mx-auto">
        <h1 class="text-[32px] font-medium text-custom-text leading-[130%] tracking-normal mb-6">Firmware</h1>
        <section class="mb-14">
            <h2 class="text-xl font-medium text-custom-text leading-[130%] mb-4">IPDesk and server</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                {# Running Image Card #}
                <div id="card-running-image" class="bg-custom-aside-bg border border-custom-border rounded-md overflow-hidden">
                    <div class="px-4 py-3 border-b border-custom-divider">
                        <span class="text-sm font-medium text-custom-text leading-[1.5]">Running image</span>
                    </div>
                    <div class="px-4 py-3">
                        <p class="text-sm font-medium text-custom-text leading-[1.5] mb-1">Version</p>
                        <p id="fw-running-version" class="text-sm font-normal text-custom-text leading-[1.5]">v09.05-21-ge66c49cdfe-dirty</p>
                    </div>
                </div>
                {# Backup Image Card #}
                <div id="card-backup-image" class="bg-custom-aside-bg border border-custom-border rounded-md overflow-hidden">
                    <div class="px-4 py-3 border-b border-custom-divider">
                        <span class="text-sm font-medium text-custom-text leading-[1.5]">Backup image</span>
                    </div>
                    <div class="px-4 py-3 flex flex-col justify-between gap-7">
                        <div>
                            <p class="text-sm font-medium text-custom-text leading-[1.5] mb-1">Version</p>
                            <p id="fw-backup-version" class="text-sm font-normal text-custom-text leading-[1.5]">--</p>
                        </div>
                        <button id="btn-switch-to-running" class="flex items-center gap-2 text-custom-aside-text hover:text-brand-blue text-xs leading-none transition-colors">
                            <span class="flex items-center justify-center w-4 h-4 shrink-0">
                                {% include "src/assets/icons/icon-sync.svg" %}
                            </span>                            Switch to running
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}