---
permalink: /sol-console/
---
{% extends "../../_includes/index.njk" %}
{% block content %}
    <div class="mx-auto">
        <h1 class="text-[32px] font-medium text-custom-text leading-[130%] tracking-normal mb-2">Serial over LAN (SOL) console</h1>

        <p class="text-base font-normal text-custom-aside-text leading-none mb-9">
            SOL console redirects the server’s serial port output to this window.
        </p>

        <div class="bg-custom-aside-bg rounded-[16px] px-6 py-4 flex justify-between items-center shadow-[0_2px_6px_0_rgba(41,41,41,0.08)] mb-4 border border-custom-divider">
            <div class="flex items-center gap-3">
                <span class="w-2 h-2 bg-[#23C45F] rounded-full shadow-[0_0_5px_0_rgba(35,196,95,0.7)]"></span>
                <span class="text-sm font-medium text-custom-text leading-none">Connected</span>
            </div>

            <div class="flex items-center gap-3 border-l border-r border-custom-divider pl-6 pr-8">
                <span class="text-sm font-semibold text-custom-aside-text">Current SOL Baudrate:</span>
                <div class="flex gap-6 p-1">
                    <button 
                        data-id="btn-SOLbaudrate-115200" 
                        class="baud-rate-btn px-1 py-2 w-[80px] text-md font-bold bg-[#23C45F] text-white shadow-sm transition-all rounded-md">
                        115200
                    </button>
                    <button 
                        data-id="btn-SOLbaudrate-9600" 
                        class="baud-rate-btn px-1 py-2 w-[80px] text-md font-bold text-custom-border bg-[#9f9f9fbd] shadow-sm hover:text-white transition-all rounded-md">
                        9600
                    </button>
                </div>
            </div>

            <div class="flex gap-3">
                <button
                    type="button"
                    class="flex items-center gap-1 px-5 py-3 bg-brand-blue hover:bg-custom-hover-bg text-white text-sm font-normal leading-none rounded-full transition-all active:scale-95">
                    <span class="flex items-center justify-center w-4 h-4 shrink-0">
                        {% include "src/assets/icons/icon-open-in-new.svg" %}
                    </span>
                    Open in new tab
                </button>
            </div>
        </div>

        <div class="relative w-full aspect-[5/2] bg-black rounded-lg overflow-hidden flex items-center justify-center border border-custom-border font-mono">
            <div class="text-[#23C45F] text-sm leading-none font-normal italic animate-pulse">Terminal interface loading...</div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const buttons = document.querySelectorAll('.baud-rate-btn');

            buttons.forEach(button => {
                button.addEventListener('click', () => {
                    // All buttons to default state
                    buttons.forEach(btn => {
                        btn
                            .classList
                            .remove('bg-[#23C45F]', 'text-white');
                        btn
                            .classList
                            .add('bg-[#9f9f9fbd]', 'text-custom-border');
                    });

                    // Activate the clicked button
                    button
                        .classList
                        .remove('bg-[#9f9f9fbd]', 'text-custom-border');
                    button
                        .classList
                        .add('bg-[#23C45F]', 'text-white');

                });
            });
        });
    </script>
{% endblock %}