---
permalink: /user-management/
---
{% extends "../../_includes/index.njk" %}

{% block content %}
    <div class="space-y-6">
        <div class="flex justify-between items-center">
            <h1 class="text-[32px] font-medium text-custom-text leading-[130%] tracking-normal">User management</h1>

        </div>
        <div class="flex justify-end items-center">
            <div class="flex gap-4">
                <button class="flex items-center gap-2 text-sm text-brand-blue hover:text-custom-accent font-medium">
                    <span class="flex items-center justify-center w-4 h-4 shrink-0">
                        {% include "src/assets/icons/icon-settings.svg" %}
                    </span>
                Account policy settings
                </button>

                <button class="flex items-center gap-2 px-4 py-2.5 bg-brand-blue hover:bg-custom-hover-bg text-white text-sm leading-[120%] font-medium rounded-[28px] transition-all active:scale-95">
                    <span class="flex items-center text-white justify-center w-4 h-4 shrink-0">
                        {% include "src/assets/icons/icon-plus.svg" %}
                    </span>
                            Add role group
                        </button>
            </div>
        </div>
        <div class="bg-white border border-custom-divider overflow-hidden shadow-sm">
            <table class="w-full text-left border-collapse text-sm">
                <thead class="bg-custom-light-bg border-b border-custom-divider">
                    <tr>
                        <th class="p-4 w-[50px]"><input type="checkbox" 
               style="accent-color: var(--color-custom-accent);"
               class="w-4 h-4 rounded border-custom-divider cursor-pointer transition-colors
                      focus:ring-[var(--color-custom-accent)] focus:ring-offset-0"></th>
                        <th class="p-4 font-medium  text-sm text-custom-text">Username</th>
                        <th class="p-4 font-medium text-sm text-custom-text">Privilege</th>
                        <th class="p-4 font-medium text-sm text-custom-text">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4" class="p-12 text-center text-custom-text italic">No items available</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-8">
            <button id="toggle-policy-table" class="flex items-center gap-2 text-sm text-brand-blue hover:text-custom-accent font-medium transition-all duration-500">
                <span id="toggle-icon" class="flex items-center justify-center w-3 h-3 shrink-0 duration-400">
                    {% include "src/assets/icons/icon-arrow-expandMore.svg" %}
                </span> 
                Account policy settings
            </button>

            <div id="policy-table-container" class="hidden mt-4 overflow-hidden transition-all duration-400">
                <div class="bg-white border border-custom-divider shadow-sm max-w-[80%]">
                    <table class="w-full text-left border-collapse text-sm text-custom-text">
                        <thead class="border-b border-custom-divider">
                            <tr class="bg-[#edf2fa]">
                                <th class="p-4 font-medium w-1/2">Privilege</th>
                                <th class="p-4 font-medium text-center">Administrator</th>
                                <th class="p-4 font-medium text-center">Operator</th>
                                <th class="p-4 font-medium text-center">ReadOnly</th>
                                <th class="p-4 font-medium text-center">NoAccess</th>
                            </tr>
                        </thead>

                        {% set permissions = [
                            {
                                name: "Configure components managed by this service",
                                admin: true,
                                operator: true,
                                readonly: false,
                                noaccess: false
                            }, {
                                name: "Configure manager resources",
                                admin: true,
                                operator: false,
                                readonly: false,
                                noaccess: false
                            }, {
                                name: "Update password for current user account",
                                admin: true,
                                operator: true,
                                readonly: true,
                                noaccess: false
                            }, {
                                name: "Configure users and their accounts",
                                admin: true,
                                operator: false,
                                readonly: false,
                                noaccess: false
                            }, {
                                name: "Log in to the service and read resources",
                                admin: true,
                                operator: true,
                                readonly: true,
                                noaccess: false
                            }
                        ] %}
                        <tbody class="divide-y divide-custom-divider text-custom-text">
                            {% for priv in permissions %}
                                <tr class="hover:bg-[#eeeff382] transition-colors">
                                    <td class="p-4">{{ priv.name }}</td>

                                    <td class="p-4 text-center text-brand-blue">
                                        {% if priv.admin %}
                                            <span class="flex items-center justify-center w-4 h-4 mx-auto">
                                                {% include "src/assets/icons/icon-checkmark.svg" %}
                                            </span>
                                        {% endif %}
                                    </td>

                                    <td class="p-4 text-center text-brand-blue">
                                        {% if priv.operator %}
                                            <span class="flex items-center justify-center w-4 h-4 mx-auto">
                                                {% include "src/assets/icons/icon-checkmark.svg" %}
                                            </span>
                                        {% endif %}
                                    </td>

                                    <td class="p-4 text-center text-brand-blue">
                                        {% if priv.readonly %}
                                            <span class="flex items-center justify-center w-4 h-4 mx-auto">
                                                {% include "src/assets/icons/icon-checkmark.svg" %}
                                            </span>
                                        {% endif %}
                                    </td>

                                    <td class="p-4 text-center text-brand-blue">
                                        {% if priv.noaccess %}
                                            <span class="flex items-center justify-center w-4 h-4 mx-auto">
                                                {% include "src/assets/icons/icon-checkmark.svg" %}
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/user-management.js" defer></script>
{% endblock %}